<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<property name="LOG_PATH" value="/opt/working-agile/spring/logs" />

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="File-Appender"
		class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/spring.log</file>
		<encoder>
			<pattern>%msg%n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="Console" />
		<appender-ref ref="File-Appender" />
	</root>

	<!-- Log everything at the TRACE level -->
	<logger name="com.workingagile.backend" level="TRACE" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="File-Appender" />
	</logger>
</configuration>