<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		body {
			Margin: 0;
			padding: 0;
			background-color: #ffe5b4;
		}

		table {
			border-spacing: 0;
		}

		td {
			padding: 0;
		}

		img {
			border: 0;
		}

		.wrapper {
			width: 100%;
			table-layout: fixed;
			padding-bottom: 40px;
			background-color: #ffe5b4;
		}

		.webkit {
			max-width: 600px;
			background-color: #ffffff
		}

		.outer {
			Margin: 0 auto;
			width: 100%;
			max-width: 600px;
			border-spacing: 0;
			font-family: "Montserrat", sans-serif;
			color: #4a4a4a
		}

	</style>
</head>

<body>

	<center class="wrapper">
		<div class="webkit">

			<table class="outer" align="center">

				<tr>
					<td style="padding: 0 40px">
						<p>Parabéns, sua vaga foi reservada no curso!!</p>
						<p>Nome: $name</p>
						<p>CourseId: $courseId</p>
					</td>
				</tr>

			</table>

		</div>

	</center>

</body>

</html>